Identificación de créditos riesgosos usando SVM
===

Las entidades financieras desean mejorar sus procedimientos de aprobación de créditos con el fin de disminuir los riesgos de no pago de la deuda, lo que acarrea pérdidas a la entidad. El problema real consiste en poder decidir si se aprueba o no un crédito particular con base en información que puede ser fácilmente recolectada por teléfono o en la web. Se tiene una muestra de 1000 observaciones. Cada registro contiene 20 atributos que recopilan información tanto sobre el crédito como sobre la salud financiera del solicitante. Construya un sistema de recomendación que use máquinas de vectores de soporte.

El archivo de datos se encuentra disponible en el siguiente link:

https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/credit.csv



Los atributos y sus valores son los siguientes:

     Attribute 1:  (qualitative)
     	      Status of existing checking account
     	      A11 :      ... <    0 DM
     	      A12 : 0 <= ... <  200 DM
     	      A13 :      ... >= 200 DM /
     	            salary assignments for at least 1 year
     	      A14 : no checking account

     Attribute 2:  (numerical)
     	      Duration in month

     Attribute 3:  (qualitative)
     	      Credit history
     	      A30 : no credits taken/
     	            all credits paid back duly
     	      A31 : all credits at this bank paid back duly
     	      A32 : existing credits paid back duly till now
     	      A33 : delay in paying off in the past
     	      A34 : critical account/
     	            other credits existing (not at this bank)

     Attribute 4:  (qualitative)
     	      Purpose
     	      A40 : car (new)
     	      A41 : car (used)
     	      A42 : furniture/equipment
     	      A43 : radio/television
     	      A44 : domestic appliances
     	      A45 : repairs
     	      A46 : education
     	      A47 : (vacation - does not exist?)
     	      A48 : retraining
     	      A49 : business
     	      A410 : others

     Attribute 5:  (numerical)
     	      Credit amount

     Attribute 6:  (qualitative)
     	      Savings account/bonds
     	      A61 :          ... <  100 DM
     	      A62 :   100 <= ... <  500 DM
     	      A63 :   500 <= ... < 1000 DM
     	      A64 :          .. >= 1000 DM
     	      A65 :   unknown/ no savings account

     Attribute 7:  (qualitative)
     	      Present employment since
     	      A71 : unemployed
     	      A72 :       ... < 1 year
     	      A73 : 1  <= ... < 4 years  
     	      A74 : 4  <= ... < 7 years
     	      A75 :       .. >= 7 years

     Attribute 8:  (numerical)
     	      Installment rate in percentage of disposable income

     Attribute 9:  (qualitative)
     	      Personal status and sex
     	      A91 : male   : divorced/separated
     	      A92 : female : divorced/separated/married
     	      A93 : male   : single
     	      A94 : male   : married/widowed
     	      A95 : female : single

     Attribute 10: (qualitative)
     	      Other debtors / guarantors
     	      A101 : none
     	      A102 : co-applicant
     	      A103 : guarantor

     Attribute 11: (numerical)
     	      Present residence since

     Attribute 12: (qualitative)
     	      Property
     	      A121 : real estate
     	      A122 : if not A121 : building society savings agreement/
     				   life insurance
     	      A123 : if not A121/A122 : car or other, not in attribute 6
     	      A124 : unknown / no property

     Attribute 13: (numerical)
     	      Age in years

     Attribute 14: (qualitative)
     	      Other installment plans 
     	      A141 : bank
     	      A142 : stores
     	      A143 : none

     Attribute 15: (qualitative)
     	      Housing
     	      A151 : rent
     	      A152 : own
     	      A153 : for free

     Attribute 16: (numerical)
              Number of existing credits at this bank

     Attribute 17: (qualitative)
     	      Job
     	      A171 : unemployed/ unskilled  - non-resident
     	      A172 : unskilled - resident
     	      A173 : skilled employee / official
     	      A174 : management/ self-employed/
     		         highly qualified employee/ officer

     Attribute 18: (numerical)
     	      Number of people being liable to provide maintenance for

     Attribute 19: (qualitative)
     	      Telephone
     	      A191 : none
     	      A192 : yes, registered under the customers name

     Attribute 20: (qualitative)
     	      foreign worker
     	      A201 : yes
     	      A202 : no

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC

df = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/credit.csv"
)

df.head()

  checking_balance  months_loan_duration  ... foreign_worker                 job
0           < 0 DM                     6  ...            yes    skilled employee
1       1 - 200 DM                    48  ...            yes    skilled employee
2          unknown                    12  ...            yes  unskilled resident
3           < 0 DM                    42  ...            yes    skilled employee
4           < 0 DM                    24  ...            yes    skilled employee

[5 rows x 21 columns]

In [3]:
colname=['checking_balance','credit_history','purpose','savings_balance','employment_length','personal_status', 'other_debtors', 'property', 'installment_plan', 'housing', 'telephone', 'foreign_worker', 'job'] 

le={}

for x in colname:
    le[x]=LabelEncoder()
    
for x in colname:
    df[x]=le[x].fit_transform(df[x])  

df.head()

   checking_balance  months_loan_duration  ...  foreign_worker  job
0                 1                     6  ...               1    1
1                 0                    48  ...               1    1
2                 3                    12  ...               1    3
3                 1                    42  ...               1    1
4                 1                    24  ...               1    1

[5 rows x 21 columns]

In [4]:
#
# Use el transformador LabelEncoder para preprocesar
# las columnas alfanuméricas del dataframe.
#
# Use los primeros 900 datos para entrenamiento del
# modelo y los 100 restantes para validación.
# 
# Construya el SVM usando los valores por defecto de
# los parámetros.
#
# Compute la matriz de confusión para la muestra de
# validación.
#
# Rta/
# True
# True
# True
# True
#

x_train = df.iloc[list(range(900)), :].copy()

x_test = df.iloc[list(range(900,1000)), :].copy()

x_train.drop('default', axis=1, inplace=True)

x_test.drop('default', axis=1, inplace=True)

y_train = df.default[:900]

y_test = df.default[900:1000]


clf = SVC()

clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

cm = confusion_matrix(
    y_true=y_test,
    y_pred=y_pred,
)

# ---->>> Evaluación ---->>>
# cm es la matriz de confusion
print(cm[0][0] == 67)
print(cm[0][1] == 1)
print(cm[1][0] == 30)
print(cm[1][1] == 2)

True
True
True
True

In [15]:
#
# Encuentre la mejor combinación de kernel y parámetros
# de regularización para los valores suministrados 
# durante el entrenamiento y compute la matriz de 
# confusión para la muestra de prueba.
#
# Rta/
# True
# True
# True
# True
#
from sklearn.model_selection import GridSearchCV

kernels = ['rbf', 'poly', 'sigmoid']
Cs = [1, 2, 3, 4, 5]
best = 0

from sklearn.metrics import accuracy_score

for c in Cs:
  for k in kernels:
    clf = SVC(C=c, kernel=k)
    clf.fit(x_train, y_train)
    accuracy = accuracy_score(y_test, clf.predict(x_test))
    if(accuracy > best):
      best = accuracy
      cm = confusion_matrix(
          y_true=y_test,
          y_pred=clf.predict(x_test),
      )

# ---->>> Evaluación ---->>>
# cm es la matriz de confusion
print(cm[0][0] == 68)
print(cm[0][1] == 0)
print(cm[1][0] == 30)
print(cm[1][1] == 2)

True
True
True
True